In [1]:
w=input("enter you name")

enter you namehimank

In [2]:
w

'himank'

In [3]:
print("hi")

hi

In [4]:
x= input("enter your name")
print(x)

entr your namehimank
himank

In [19]:
y=input("enter your age ")
print("your age is " +y )

enter your age 5
your age is 5

In [6]:
x=10
y=10
print(x+y)

20

In [11]:
x=int (input("enterr first value "))
y= int(input("second value"))
print(x)
print (y)
print((x+y))

enterr first value 4
second value5
4
5
9

In [12]:
## 3 format of print

In [13]:
print("hi")

hi

In [15]:
x="hi"
y="himank"
print(f"{x} {y}")    ##f string format

hi himank

In [17]:
x="hi"
y="himank"
print(f"{x} ok {y}")    ##f string format

hi ok himank

In [20]:
print("{} and {}".format("hi","himank"))       ##dot format method

hi and himank

In [21]:
print("{1} and {0}".format("hi","himank"))       ##dot format method

himank and hi

In [22]:
#1

In [25]:
print("""fffff
ffff
f
ff
f""")         ##multi line print

fffff
ffff
f
ff
f

In [26]:
print("""$
$$
$$$
$$$$
$$$$""")

$
$$
$$$
$$$$
$$$$

In [30]:
x=input("enter the string  ")
y=x
print("!"+x+"!")     ## take input as a string and then make a copy of it and then print it in with exclamation

enter the string  himank
!himank!

In [31]:
y

'himank'

In [32]:
## operators

In [33]:
a1=10
a2=20

In [34]:
a1+a2

30

In [35]:
a1-a2

-10

In [36]:
a1*a2

200

In [37]:
a1/200

0.05

In [38]:
a2/a1

2.0

In [40]:
a2%a1    #remainder

0

In [44]:
a2==a1    ## to check if a2 is equal to a1

False

In [46]:
type(a2==a1)  ##boolean

bool

In [47]:
a2 is a1    ## this is identity operator

False

In [48]:
 ## difference bw a==b and is ??

In [49]:
id(a2)    ## pointer that is address

2818647982928

In [50]:
id(a1)

2818647982608

In [51]:
## is check whether the variable points to the same memory address 
a=10
b=10

In [52]:
id(a)

2818647982608

In [53]:
id(b)

2818647982608

In [54]:
a is b

True

In [55]:
a!=b      ## != not equal to

False

In [57]:
l1=[1,2,3]

In [58]:
l2=[1,2,3]

In [59]:
l1 is l2   ## same integer points to same location but not in case of list

False

In [60]:
l1==l2  ## checking the equality

True

In [61]:
l3=[1,2,3,4]

In [62]:
l4=l3   ## in memory here both list have same address

In [63]:
l4 is l3

True

In [ ]:
print("hi")