In [1]:
a=10
b=20

In [9]:
(a>10)and (b>20)   ##just like and function in c (&&) logical operatos

False

In [14]:
print (True and False )  ##boolean type true false which is used with and function

True

In [15]:
(a>6)and(b>5)

True

In [16]:
##or operator ||    only one condition needs to be satisfied

In [19]:
a>6 or b>10

True

In [20]:
a>20 or b>15

True

In [21]:
True or False

True

In [22]:
##not operator

In [23]:
a =True

In [25]:
not (a)

False

In [31]:
a=20
b=10

In [33]:
not (a>10 and b>5)  ##it would give false for true

False

In [35]:
## bitwise operator & | ^  ~

In [36]:
# & it performs and operations on bits like any value can be represented in 0 and 1 form and then using and on it and then the ans we get output is its value

In [37]:
a=20 
b=7

In [45]:
bin(a)     ##binary representation see

'0b10100'

In [46]:
bin(b)

'0b111'

In [47]:
a&b     ## 10 0 11 1 01 0 00 0

4

In [48]:
a|b    ## 11 1 10 1 01 1 00 1

23

In [49]:
a^b    ## 11 0 00 0 10 1 01 1

19

In [50]:
a=10

In [52]:
~a    ## negation

-11

In [53]:
~12  ## see its working but just one more negative

-13

In [54]:
~-10  ## reverse sign add one

9

In [55]:
## in operator

In [56]:
l=[1,23,4,5,6,7]

In [57]:
23 in l

True

In [58]:
8 in l

False

In [59]:
a=10

In [60]:
a<<1   ## left shift not imp   shifting the bits by one value

20

In [61]:
a<<2  ## going like multiple of 2

40

In [62]:
a>>1  ## right shift shifting binary nos by 1 digit to the right

5

In [63]:
a>>2 ## easy

2

In [64]:
## control flows if else else if

In [65]:
age =17

In [67]:
if age>15:
    print("you can learn python ")
if age>2:
    print("you can eat ")

you can learn python
you can eat

In [70]:
x=23
if x>23:
    print("you are inside the if block") ## wont get anything

In [71]:
age =15
if age>18:
    print("you can drive")
else:
    print("cant ")

cant

In [76]:
score =80
if score >=90:
    print("excellent performance")
elif score >=80:
    print("good performance")
elif score>=70:
    print("average performance")
else:
    print("poor")

good performance

In [5]:

t=int(input("please enter the time "))   ##compare this line with c in c you require scanf and printf see here 

if (t>=0) and (t<=11):    ## you can use     0<=t<=11 instead of using and operator but cant do this in c 
    print("morning")
    
elif (t>=12) and (t<=17):
    print("afternoon")
    
elif (t>=18) and (t<=23):
    print("evening ")
    
else:
    print("invalid")

please enter the time 33
invalid

In [6]:
a=int(input("enter first no"))
b=int(input("enter second no"))
c=int(input("enter thhird no"))
if a>=b>=c:
    print("highest no is ",a)
elif b>=a>=c:
    print("highest no is",b)
else:
    print("highest no is ",c)                                ## shortcut  which can work in python but not in c 
   ## this is wrong put a =10 b=8 c=9 think of logic which is wrong here

enter first no10
enter second no8
enter thhird no9
highest no is  9

In [8]:
## #include <stdio.h>

"""int main() {
    int num1, num2, num3;

    // Input three numbers
    printf("Enter three numbers: ");
    scanf("%d %d %d", &num1, &num2, &num3);

    // Check and find the highest number
    if (num1 >= num2 && num1 >= num3) {
        printf("The highest number is: %d\n", num1);
    } 
    else if (num2 >= num1 && num2 >= num3) {
        printf("The highest number is: %d\n", num2);
    } 
    else {
        printf("The highest number is: %d\n", num3);
    }

    return 0;
}
  ## code in c """

'int main() {\n    int num1, num2, num3;\n\n    // Input three numbers\n    printf("Enter three numbers: ");\n    scanf("%d %d %d", &num1, &num2, &num3);\n\n    // Check and find the highest number\n    if (num1 >= num2 && num1 >= num3) {\n        printf("The highest number is: %d\n", num1);\n    } \n    else if (num2 >= num1 && num2 >= num3) {\n        printf("The highest number is: %d\n", num2);\n    } \n    else {\n        printf("The highest number is: %d\n", num3);\n    }\n\n    return 0;\n}\n  ## code in c '

In [4]:
a=int(input("enter the value of a "))
b=int(input("enter the value of b "))
c=input("enter the operator ")
if c=="+":
    print("sum is ",a+b)
elif c=="*":
    print("multiply is",a*b)
elif c=="-":
    print("result is ",a-b)
elif c=="/":
    if b==0:
        print("error")
    else:
        print("result is",a/b)
else:
    print("wrong operator")

enter the value of a 5
enter the value of b 7
enter the operator /
result is 0.7142857142857143

In [7]:
range (start,stop,step)   ##same start stop step as in list we did  range function generates a seq of integers

In [8]:
range(0,5)

range(0, 5)

In [12]:
list(range(5))   ## same as range(0,5) if you dont add any number

[0, 1, 2, 3, 4]

In [10]:
tuple(range(0,5))

(0, 1, 2, 3, 4)

In [11]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(range(10,0,-1))  ##see this

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
list(range(2,12,2))

[2, 4, 6, 8, 10]

In [15]:
##for function     ##iterable objects are those objects which can be accessed one by one using loop (list,string,dic,tuple,sets)

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

Loops statements
1 while loop 
2 for loop 
3 nested loops 
4 loop control (break, continue ,pass)

In [21]:
#while loop

In [23]:
joining_age=25
while joining_age<=60:
    joining_age+=1
    print(joining_age)   ##while is like do this till this condition is satisfied 
print("time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
time for retirement

In [24]:
## see to exchange print and +=1 line and see the difference

In [25]:
##atm  machine with 1000 rs

In [29]:
amount=1000
while amount!=0:
    amount-=100
    print(amount)
print("fill money")

900
800
700
600
500
400
300
200
100
0
fill money

In [30]:
## for loop iteration which works inside a container like tuple list dictionary sets

In [31]:
l1=[1,2,3,4,5,6,7,8,"himank"]

In [32]:
type(l1)

list

In [33]:
for i in l1:    ## i enters as index in list 
    print(i)

1
2
3
4
5
6
7
8
himank

In [38]:
fruits_list=["mango","banana","apple","papaya"]

In [41]:
for a in fruits_list:
    print(a,end="")
    if a=="banana":
        print("success")      ##see same thing just see print statement

mangobananasuccess
applepapaya

In [43]:
fruit="mango"

In [44]:
for x in fruit:
    print(x)         ## here iteration is done character by character (string is collection of characters )

m
a
n
g
o

In [45]:
##whenever theres is a collection of elements for loop will go through each element

In [46]:
### Nested loops 
n=7
list(range(1,6))

[1, 2, 3, 4, 5]

In [47]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [48]:
##nested loops

In [50]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")

****************************

In [52]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")              ##vimp see print(\r ) is used in oute for loop to make this pattern v nice 
    ## see diff in print(\n and \r )

*
**
***
****
*****
******
*******

In [53]:
## for loop is like a pointer in python pointing to the ith element of the iterable object

In [54]:
l1=[1,2,3,4,5,6,7]

In [55]:
for i in l1:
    print(i)    ##here its pointing to element

1
2
3
4
5
6
7

In [56]:
for i in range(len(l1)):
    print (l1[i])       ##see here we make iterations in range and used that range to print list

1
2
3
4
5
6
7

In [57]:
dict1={"my":"name","is":"himank"}

In [58]:
dict1.keys()

dict_keys(['my', 'is'])

In [59]:
dict1.values()

dict_values(['name', 'himank'])

In [60]:
for i in dict1:
    print(i)     ## see in dictionary for loop tends to point upon keys    ## vimp!!

my
is

In [64]:
for i in dict1:
    print(i ,dict1[i])

my name
is himank

In [62]:
dict1["my"]

'name'

In [65]:
a=10
b=20
print(a,b)    ## see how two objects are printed in python

10 20

In [66]:
## remember in dictionary for loop takes key values

In [67]:
for i in dict1.values():
    print(i)     ## to print values of dictionary using for loop

name
himank

In [69]:
for i in range(5):
    for j in range(5):
        print((i+1)*(j+1),end=" ")
    print ("\n")

1 2 3 4 5

2 4 6 8 10

3 6 9 12 15

4 8 12 16 20

5 10 15 20 25

In [71]:
text= str         ## by putting "" you defined text variable as a string or just use str 
while text!="quit":
    text=input()
    print("you entered",text)

hi
you entered hi
hi
you entered hi
quit
you entered quit

In [72]:
## if number of iterations is known use for loop and when we dont know e use while

In [ ]:
a= int     ## here we defined a as an integer data type 
while a!=22:
    a=int(input("enter value of age"))
    print(a)

enter value of a 2
2