In [2]:
l=[]

In [3]:
type(l)

list

In [4]:
l2=[1,2,3,4,4.5,"himank",3+6j,True]

In [5]:
l2

[1, 2, 3, 4, 4.5, 'himank', (3+6j), True]

In [6]:
l3=[1,2,3,4,4.5,"himank",3+6j,True,[2,3,4]]

In [7]:
l3

[1, 2, 3, 4, 4.5, 'himank', (3+6j), True, [2, 3, 4]]

In [8]:
l3[5]

'himank'

In [9]:
l3[-1][1]

3

In [10]:
l3[0:4]   #same as slicing

[1, 2, 3, 4]

In [11]:
l4=[3,4,5,"himank","aggarwal"]

In [12]:
l3+l4  #concatination of list

[1,
 2,
 3,
 4,
 4.5,
 'himank',
 (3+6j),
 True,
 [2, 3, 4],
 3,
 4,
 5,
 'himank',
 'aggarwal']

In [13]:
l4+"himank"  # for concatination both data type should be same

TypeError: can only concatenate list (not "str") to list

In [14]:
 list("himank")

['h', 'i', 'm', 'a', 'n', 'k']

In [15]:
list(222)

TypeError: 'int' object is not iterable

In [16]:
l4*2

[3, 4, 5, 'himank', 'aggarwal', 3, 4, 5, 'himank', 'aggarwal']

In [17]:
l4

[3, 4, 5, 'himank', 'aggarwal']

In [18]:
l4[0]

3

In [19]:
l4[0]="himank"

In [20]:
l4    #list is mutable

['himank', 4, 5, 'himank', 'aggarwal']

In [21]:
t=(1,2,3,4,"himank","aggarwal",4+2j,True)

In [22]:
type(t)

tuple

In [23]:
t[0]

1

In [24]:
t[-1]

True

In [25]:
t[-1::-1]

(True, (4+2j), 'aggarwal', 'himank', 4, 3, 2, 1)

In [26]:
t[0]=2   #immutable thats the difference

TypeError: 'tuple' object does not support item assignment

In [27]:
t1=(2,3,4,5,6)

In [28]:
t+t1   #concatination is possible

(1, 2, 3, 4, 'himank', 'aggarwal', (4+2j), True, 2, 3, 4, 5, 6)

In [29]:
t*2

(1,
 2,
 3,
 4,
 'himank',
 'aggarwal',
 (4+2j),
 True,
 1,
 2,
 3,
 4,
 'himank',
 'aggarwal',
 (4+2j),
 True)

In [30]:
a=list(t)

In [31]:
tuple(a)

(1, 2, 3, 4, 'himank', 'aggarwal', (4+2j), True)

In [32]:
len(a)

8

In [33]:
len("my name is himank")

17

In [34]:
s={}

In [35]:
type(s)

dict

In [36]:
s1={1,2,3,4,5,5}

In [37]:
type(s1)

set

In [38]:
s1

{1, 2, 3, 4, 5}

In [39]:
s2={"Himank","Himank","himank",2,3,4,5,6,7}

In [40]:
s2

{2, 3, 4, 5, 6, 7, 'Himank', 'himank'}

In [41]:
s2*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [42]:
list(s2)

[2, 3, 4, 5, 6, 7, 'Himank', 'himank']

In [43]:
set(l4)

{4, 5, 'aggarwal', 'himank'}

In [44]:
set(l3)

TypeError: unhashable type: 'list'

In [ ]:
s3={2,3,4,{6,7,8}}

In [45]:
tuple(s2)

(2, 3, 4, 5, 6, 7, 'Himank', 'himank')

##

In [46]:
s2

{2, 3, 4, 5, 6, 7, 'Himank', 'himank'}

In [47]:
s2[0]

TypeError: 'set' object is not subscriptable

In [48]:
s3={10,11,12}

In [49]:
s2+s3

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [50]:
d={}

In [51]:
type(d)

dict

In [52]:
d1={"name":"himank","subject":["economics","ecotrix]","number":100}

SyntaxError: closing parenthesis '}' does not match opening parenthesis '[' (3650771385.py, line 1)

In [53]:
d2={"name":"himank","name":"hulala"}

In [54]:
d2   # one key/word cant have 2 values just the latest value, key should always be unique like a many to one function from key to value

{'name': 'hulala'}

In [55]:
d3={33:"himank","himank":22} ##  INTEGERS AND Strings can behave like a key

In [56]:
d4={[1,2]:"himank"}   #list and set cant behave like a key

TypeError: unhashable type: 'list'

In [ ]:
d5={(1,2):"himank"}   # tuple can act like a key

In [57]:
d5

NameError: name 'd5' is not defined

In [58]:
d6={"course":["ecotrix","micro","macro","game theory"],"mentor":("nc sir","br sir","pb sir "),"marks":{100,99,88},'duration':1}

In [59]:
d6    #value can be set list integer set boolean everything is fine

{'course': ['ecotrix', 'micro', 'macro', 'game theory'],
 'mentor': ('nc sir', 'br sir', 'pb sir '),
 'marks': {88, 99, 100},
 'duration': 1}

In [60]:
## value can be duplicate just like word meaning but diff words or key (many to one function from key to value )

In [61]:
d6["course"]  ##extracting data just like naming indexes

['ecotrix', 'micro', 'macro', 'game theory']

In [62]:
d6["marks"]   ## wherever i want my own index name or control over index we use dictionary

{88, 99, 100}

In [63]:
d7={"course":["ecotrix","micro","macro","game theory"],"mentor":("nc sir","br sir","pb sir "),"marks":{100,99,88},'duration':1,"syllabus":{"python":["ml","dl","ai"]}}

In [64]:
d7  ## dictionary inside dictionary nested dictionary key going to key of value in syllabus

{'course': ['ecotrix', 'micro', 'macro', 'game theory'],
 'mentor': ('nc sir', 'br sir', 'pb sir '),
 'marks': {88, 99, 100},
 'duration': 1,
 'syllabus': {'python': ['ml', 'dl', 'ai']}}

In [65]:
d2["phone number"]=9899999   #can add new key and value to existing dictionary

In [66]:
d2

{'name': 'hulala', 'phone number': 9899999}

In [67]:
d2["name"]="himank" #if key is not available add it if its available overwrite it

In [68]:
d2   #create new value

{'name': 'himank', 'phone number': 9899999}

In [69]:
##1.string
#2.list
#3. tuple
#4.set
#5. dictionary

In [70]:
#now we will try in built function to apply to these data sets
## 1ST STRINGS FUNCTION

In [71]:
s1="Himank"

In [101]:
s1.count("a")  ##count the no of a

1

In [73]:
s1.find("a") ##find the index of a

3

In [103]:
s1.index("H")    #find and index

0

In [75]:
#how they are different

In [76]:
s1.find("z")

-1

In [77]:
s1.index("z")

ValueError: substring not found

In [78]:
s1.upper()

'HIMANK'

In [79]:
s1.lower()

'himank'

In [80]:
s2="my name is himank aggarwal"

In [81]:
s2.title()

'My Name Is Himank Aggarwal'

In [82]:
s2

'my name is himank aggarwal'

In [83]:
s2.split()    ## HELPS in creating list of string of every word

['my', 'name', 'is', 'himank', 'aggarwal']

In [84]:
s3="my name,is,himank"

In [85]:
s3.split()

['my', 'name,is,himank']

In [86]:
s3.split(",")  #splitting data when , comes

['my name', 'is', 'himank']

In [87]:
s4="this is my first class. i am attendting it for 4th time "

In [88]:
s4.split(".")

['this is my first class', ' i am attendting it for 4th time ']

In [89]:
s4.split(".")[0]   #calling the first index of a list

'this is my first class'

In [90]:
s2.capitalize()    #press shift+tab to get the meaning of function

'My name is himank aggarwal'

In [91]:
s2.replace("n","q")

'my qame is himaqk aggarwal'

In [92]:
s2   #strings are immutable and its not changing the old string but we can use replace function and storing it in another variable

'my name is himank aggarwal'

In [111]:
s4="himank"

In [118]:
s4.center(10,"-")  #puts string in centre by giving no of things to be added before and second parameter as the thing to be add

'--himank--'

In [119]:
s1.rstrip()

'Himank'

In [120]:
string="my name           "
string.rstrip()    ## removes right hand side space in a string  ## same for lstrip

'my name'

In [121]:
s10="           himank         "

In [122]:
s10.strip()    #removes both side of the gaps

'himank'

In [123]:
s1

'Himank'

In [124]:
s1.isalnum()

True

In [125]:
s1.isalpha()

True

In [126]:
s1.isnumeric()

False

In [127]:
s10="2"

In [128]:
s10.isnumeric()   ## its asking that is whats written inside string is numeric ?

True

In [129]:
s1.islower()  ##

False

In [130]:
s1.isprintable()  ##check upon is functions by pressing tab after .

True

In [131]:
##LIST FUNCTIONS

In [133]:
l3

[1, 2, 3, 4, 4.5, 'himank', (3+6j), True, [2, 3, 4]]

In [136]:
l3.append("h")  #adding the data in last by default

In [137]:
l3

[1, 2, 3, 4, 4.5, 'himank', (3+6j), True, [2, 3, 4], 'h', 'h']

In [138]:
l3.insert(1,"him")   ## inserting at a particular index

In [139]:
l3

[1, 'him', 2, 3, 4, 4.5, 'himank', (3+6j), True, [2, 3, 4], 'h', 'h']

In [140]:
l3.extend("himaa")   ## first splitting the dAta and then adding it in lst

In [141]:
l3

[1,
 'him',
 2,
 3,
 4,
 4.5,
 'himank',
 (3+6j),
 True,
 [2, 3, 4],
 'h',
 'h',
 'h',
 'i',
 'm',
 'a',
 'a']

In [142]:
l3=[1,2,3,4,5,6]   ## look at this example

In [143]:
l3.append([6,7,8])

In [144]:
l3

[1, 2, 3, 4, 5, 6, [6, 7, 8]]

In [145]:
l3.insert(1,[8,9,10])

In [146]:
l3

[1, [8, 9, 10], 2, 3, 4, 5, 6, [6, 7, 8]]

In [147]:
l3.extend([4,5,6])   ## inserting as an individual element

In [148]:
l3

[1, [8, 9, 10], 2, 3, 4, 5, 6, [6, 7, 8], 4, 5, 6]

In [149]:
l3.pop()

6

In [150]:
l3   ##deletion function

[1, [8, 9, 10], 2, 3, 4, 5, 6, [6, 7, 8], 4, 5]

In [151]:
l3.pop(1) #pop up first index

[8, 9, 10]

In [152]:
l3

[1, 2, 3, 4, 5, 6, [6, 7, 8], 4, 5]

In [153]:
del  l3  #delete entire list

In [154]:
l3

NameError: name 'l3' is not defined

In [155]:
del s2

In [181]:
s2

NameError: name 's2' is not defined

In [182]:
l2

[2, 1, 3, 4, 4.5, (3+6j), True]

In [183]:
l2.remove(True)

In [184]:
l2

[2, 3, 4, 4.5, (3+6j), True]

In [185]:
l2.remove(2)

In [186]:
l2

[3, 4, 4.5, (3+6j), True]

In [187]:
l2.clear()  ##clear the entire list not delete the variable just cleaer the list

In [188]:
l2

[]

In [192]:
l4

['himank',
 4,
 'hi',
 'hi',
 5,
 'himank',
 'aggarwal',
 'hulala',
 'hulala',
 'hulala']

In [193]:
l4.count("himank")  ##gives the count of element of a list

2

In [194]:
l4.index("himank")  ##lowest index of the variable written inside it

0

In [195]:
l4[::-1]

['hulala',
 'hulala',
 'hulala',
 'aggarwal',
 'himank',
 5,
 'hi',
 'hi',
 4,
 'himank']

In [196]:
l4.reverse() ##reversing the list and storing it in same variable

In [198]:
l4

['hulala',
 'hulala',
 'hulala',
 'aggarwal',
 'himank',
 5,
 'hi',
 'hi',
 4,
 'himank']

In [199]:
l4

['hulala',
 'hulala',
 'hulala',
 'aggarwal',
 'himank',
 5,
 'hi',
 'hi',
 4,
 'himank']

In [200]:
l4.sort()  ##if you have similar kind of data then it will do sorting otherwise error

TypeError: '<' not supported between instances of 'int' and 'str'

In [201]:
h1=[1,2,4,3,4,6,86,8,6]
h1.sort()

In [202]:
h1  ##sorted data  in ascending order

[1, 2, 3, 4, 4, 6, 6, 8, 86]

In [203]:
h1.sort(reverse=True)  ##sorted in descending order

In [204]:
h1

[86, 8, 6, 6, 4, 4, 3, 2, 1]

In [205]:
## removing same elements from a list

In [207]:
l10=[1,2,1,21,2,3,4,5,6,6,32,1,3,2,32,1,23,3,2,23,2]

In [208]:
sets=set(l10)

In [209]:
sets

{1, 2, 3, 4, 5, 6, 21, 23, 32}

In [210]:
new=list(sets)

In [211]:
new

[32, 1, 2, 3, 4, 5, 6, 21, 23]

In [212]:
new.sort()

In [213]:
new

[1, 2, 3, 4, 5, 6, 21, 23, 32]

In [214]:
## deep copy and swallow  copy

In [216]:
l11=l10  ##same value will be assigned to l11 (swallow copy)
l11

[1, 2, 1, 21, 2, 3, 4, 5, 6, 6, 32, 1, 3, 2, 32, 1, 23, 3, 2, 23, 2]

In [217]:
l10
l11  #since they are same

[1, 2, 1, 21, 2, 3, 4, 5, 6, 6, 32, 1, 3, 2, 32, 1, 23, 3, 2, 23, 2]

In [218]:
l10[0]=200

In [219]:
l10

[200, 2, 1, 21, 2, 3, 4, 5, 6, 6, 32, 1, 3, 2, 32, 1, 23, 3, 2, 23, 2]

In [220]:
l11  #now will the same change come to l11:? YES!!

[200, 2, 1, 21, 2, 3, 4, 5, 6, 6, 32, 1, 3, 2, 32, 1, 23, 3, 2, 23, 2]

In [221]:
l2=l10.copy()    ##now look at this   DEEP COPY

In [222]:
l2

[200, 2, 1, 21, 2, 3, 4, 5, 6, 6, 32, 1, 3, 2, 32, 1, 23, 3, 2, 23, 2]

In [223]:
l10[1]=100

In [224]:
l10

[200, 100, 1, 21, 2, 3, 4, 5, 6, 6, 32, 1, 3, 2, 32, 1, 23, 3, 2, 23, 2]

In [225]:
l2  ##same change doesnt happen this time!!  ##see register backend now  new space is there for l2 so same change not there

[200, 2, 1, 21, 2, 3, 4, 5, 6, 6, 32, 1, 3, 2, 32, 1, 23, 3, 2, 23, 2]

In [226]:
##copy funnction helps in doing deep copy

In [227]:
##TUPLES FUNCTION NOW

In [228]:
t1

(2, 3, 4, 5, 6)

In [229]:
t1.count(3) ##count the number of occurences

1

In [230]:
t1.index(3)  ## will give index

1

In [233]:
set1={1,2,3,4,5,6}

In [234]:
type(set1)

set

In [235]:
set1.add(100) ##cant add same thing  ##insertion

In [236]:
set1

{1, 2, 3, 4, 5, 6, 100}

In [237]:
set1.clear()  ##clear

In [252]:
set2={1,23,4,55,6,6}

In [253]:
set2

{1, 4, 6, 23, 55}

In [256]:
set2.discard(1)   ## subtract same function as remove

In [257]:
set2

{4, 6, 23, 55}

In [258]:
set2.pop()

4

In [259]:
set2

{6, 23, 55}

In [262]:
 ##dictionary functions

In [264]:
d6

{'course': ['ecotrix', 'micro', 'macro', 'game theory'],
 'mentor': ('nc sir', 'br sir', 'pb sir '),
 'marks': {88, 99, 100},
 'duration': 1}

In [265]:
d6.keys()

dict_keys(['course', 'mentor', 'marks', 'duration'])

In [266]:
type(d6.keys())

dict_keys

In [267]:
list(d6.keys())  ##making list of keys type cast

['course', 'mentor', 'marks', 'duration']

In [268]:
d6.values()   ##give values

dict_values([['ecotrix', 'micro', 'macro', 'game theory'], ('nc sir', 'br sir', 'pb sir '), {88, 99, 100}, 1])

In [269]:
d6.items()  ##key and values are available in form of a tuple!!

dict_items([('course', ['ecotrix', 'micro', 'macro', 'game theory']), ('mentor', ('nc sir', 'br sir', 'pb sir ')), ('marks', {88, 99, 100}), ('duration', 1)])

In [270]:
list(d6.items())

[('course', ['ecotrix', 'micro', 'macro', 'game theory']),
 ('mentor', ('nc sir', 'br sir', 'pb sir ')),
 ('marks', {88, 99, 100}),
 ('duration', 1)]

In [271]:
d6.get("course")  ##same as d6["course"] like calling value by stating key

['ecotrix', 'micro', 'macro', 'game theory']

In [272]:
d6.pop("course")  ##here you need to give key as an  index about what value to pop

['ecotrix', 'micro', 'macro', 'game theory']

In [273]:
d6 ##course deleted

{'mentor': ('nc sir', 'br sir', 'pb sir '),
 'marks': {88, 99, 100},
 'duration': 1}